
#form{
    display: flex;
    justify-content: center;
    text-align: center;    

}
#full{
    font-family: 'Franklin Gothic Medium', Arial, ;
    position: absolute;
    top: 80px;
    display: inline-block;
    width:200px;
    height:250px;
    padding:80px;
    /* border: 2px solid black; */
    border-left: 5px solid rgb(124, 119, 112);
    border-bottom: 5px solid rgb(124, 119, 112);
    border-radius: 10px;
    background: linear-gradient(to bottom, gold 0%, white 50% , skyblue 100%);
}
#username{
    padding:0px;
    margin: 0px 0px 10px 0px;
}
input{
    border-radius: 5px;
    font-size: 15px;
}
input:hover{
    transform: scale(1.1,1.1);
    border: 2px solid blue;
}
input:active{
     transform: scale(1,1);
     border: 2px solid blue;
}
#forg{
    margin: 5px;
    font-size: 13px;
}
button{
    
    position: relative;
    justify-content: center;
    left: 35px;
    top: 50px;
    width: 100px;
    background: linear-gradient(to bottom , white, skyblue);
    border-radius: 8px;
    border: 2px solid black;
    height: 25px;
    
    

}
#butt{
    display: flex;
    text-align: center;
}
button:hover{
    transform: scale(1.1,1.1);
    text-shadow: 0 0 10px blueviolet;
}
button:active{
    transform: scale(1,1);
    color: black;
}
button a{
        color: black;

}
 button a{
text-decoration:none;
color:blueviolet;
font-weight: 65 0;
}